input {
    margin-top: 1rem;
    width: 35rem;
    height: 2.5rem;
    background: white;
    border: solid black;
    border-color: black;
    border-width: 5px 3px 3px 5px;
    border-radius:90% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(0.4deg);
    text-align: center;


}

